body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 40px;
}


main {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}


h1 {
  text-align: center;
}


form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}


input {
  flex: 1;
  padding: 10px;
}


button {
  padding: 10px 20px;
  cursor: pointer;
}

#facts {
  line-height: 1.8;
}
.fact {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.flag {
  width: 200px;
  margin-top: 15px;
}